
# Genera tus llaves con: node generate-keys.js
VAPID_PUBLIC_KEY=BN3-6AJL2njXgigQEwEtGK-ro9jnh9r2alXyfjVIHnIWAuzEImbtn7C3QRYVwl_RvY2ZWl_pfQznoxKlFC2PXRE
VAPID_PRIVATE_KEY=dU7bHRGplDLQp17rTemYGcPsOz8vnzKlilQwsVghBgE
VAPID_EMAIL=mailto:garia350@gmail.com

# Puerto del servidor
PORT=4000

# Origen del frontend (Vercel URL o localhost)
ALLOWED_ORIGIN=http://localhost:5173
